<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>RESTful Tasks CRUD</h2>

  <form (submit)="onSubmit()" class="postForm">
    <p>{{newTask | json}}</p>
    <label>Task title:
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
    </label>
    <label>Task description:
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
    </label>
    <input type="submit" value="Create Task" />
  </form>

  <button (click)='getAllTasks()'>GET ALL TASKS</button>
  <p *ngFor='let task of tasks'>{{ task.title }} &nbsp;&nbsp; <button (click)='onButtonClick(task)'>Show!</button></p>
</div>

<section *ngIf='selectedTask'>
  <fieldset>
    <legend>Selected Task</legend>
    <div>
      <p>ID: {{ selectedTask._id }}</p>
    </div>
    <div>
      <p>Title: {{ selectedTask.title }}</p>
    </div>
    <div>
      <p>Description:
      {{ selectedTask.description }}</p>
    </div>
    <div>
      <p>Title: {{ selectedTask.completed }}</p>
    </div>
    <button (click)='onButtonEdit(selectedTask)'>Edit!</button>
    <button (click)='onButtonDelete(selectedTask)'>Delete!</button>
  </fieldset>
</section>
<section *ngIf='editTask'>
    <fieldset>
      <form (submit)='onUpdate(editTask)' class="postForm">
        <p>{{editTask | json}}</p>
        <label>Task title:
          <input type="text" name="editTask.title" [(ngModel)]="editTask.title" />
        </label>
        <label>Task description:
          <input type="text" name="editTask.description" [(ngModel)]="editTask.description" />
        </label>
        <label>Task completed:
          <input type="checkbox" name="editTask.completed" [(ngModel)]="editTask.completed" />
        </label>
        <input type="submit" value="Update Task" />
      </form>
    </fieldset>
</section>

<!--  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

