<html>
<body  style="text-align:center">
    <h2>Counter:</h2>
    
    <p><%=counter%> times</p>

    <form action="/double" method='post'>
        <input type="submit" value='double'>
    </form>
    <form action="/clear" method='post'>
        <input type="submit" value='clear'>
    </form>

</body>
</html>